@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1abc9c;
  --color-secondary: #2ecc71;
  --color-tertiary: #10957a;
  --color-accent-1: #9b59b6;
  --color-accent-2: #34495e;
  --color-accent-3: #3498db;
  --color-accent-4: #e5e5e5;
  --color-accent-5: #d3d3d3;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
